@using ManagerTask.Data
@model List<Check>
@{
    ViewBag.Title = "Checks";
}

@if (ViewBag.Error != null)
{
    <p class="text-danger warning">@ViewBag.Error</p>
}
@if (Model != null && Model.Count > 0)
{
    <div class="row">
        <table id="checks" class="table table-responsive table-hover">
            <thead>
                <tr>
                    <th>Driver</th>
                    <th>Success</th>
                    <th>Check Type</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var check in Model)
                {
                    <tr>
                        <td>@check.Driver.Name</td>
                        <td>@check.Success</td>
                        <td>@((CheckType)check.Type)</td>
                        <td>@check.Date</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <p class="text-danger warning">There is no check found</p>
}
<script>
    var filtersConfig = {
        base_path: '/Scripts/tablefilter/',
        col_1: 'select',
        col_2: 'select',
        alternate_rows: true,
        rows_counter: true,
        btn_reset: true,
        loader: true,
        mark_active_columns: true,
        highlight_keywords: true,
        no_results_message: true,
        custom_options: {
            cols: [4],
            sorts: [true]
        },
        col_types: [
            'string', 'string', 'string', 'date'
        ],
        paging: {
            results_per_page: ['Records: ', [6, 9]]
        },
        extensions: [{
            name: 'sort'
        }],
        auto_filter: {
            delay: 0
        },
    };

    var tf = new TableFilter('checks', filtersConfig);
    tf.init();
</script>