@using ManagerTaskService.Models
@model AlertViewModel
@{
    ViewBag.Title = "Alerts";
}
<h2>@ViewBag.Title.</h2>

@if (ViewBag.Error != null)
{
    <p class="text-danger warning">@ViewBag.Error</p>
}
else
{
    if (Model.Alerts != null && Model.Alerts.Count > 0)
    {
        <div style="padding:20px">
            <div class="row">
                <input type="text" id="filter" class="form-control input-sm" placeholder="Search" style="float:left" />
                <div class="btn btn-primary input-sm" id="sort" style="float:left"><span class="glyphicon glyphicon-arrow-down"></span><span class="glyphicon glyphicon-arrow-up"></span></div>
            </div>
            <div class="row">
                <div style="padding:20px" id="container">
                    <div class="row text-info">
                        <div class="col-sm-3 grid-control"><strong>Driver</strong></div>
                        <div class="col-sm-3 grid-control"><strong>Alert Type</strong></div>
                        <div class="col-sm-3 grid-control"><strong>Alert Level</strong></div>
                        <div class="col-sm-3 grid-control"><strong>Date</strong></div>
                    </div>
                    <div style="padding-top:10px">
                        @foreach (var alert in Model.Alerts)
                    {
                            <div class="row driver-alert">
                                <div class="col-sm-3 grid-control">@alert.DriverName</div>
                                <div class="col-sm-3 grid-control">@((AlertType)alert.Type)</div>
                                <div class="col-sm-3 grid-control">@((AlertLevel)alert.Level)</div>
                                <div class="col-sm-3 grid-control">@alert.Date</div>
                            </div>
                        }
                    </div>
                </div>
                <div class="btn-group">
                    @for (int i = 1; i <= Model.PagingInfo.Pages; i++)
                    {
                        if (i == Model.PagingInfo.CurrentPage)
                        {
                            @Html.ActionLink(i.ToString(), "GetAlerts", "Alert", new { area = "", page = i }, new { @class = "btn btn-primary" })
                        }
                        else
                        {
                            if (Model.PagingInfo.CurrentPage - i == Model.PagingInfo.PageSpan)
                            {
                                @Html.ActionLink("<<", "GetAlerts", "Alert", new { area = "", page = i }, new { @class = "btn btn-default" })
                            }
                            else if (i - Model.PagingInfo.CurrentPage == Model.PagingInfo.PageSpan)
                            {
                                @Html.ActionLink(">>", "GetAlerts", "Alert", new { area = "", page = i }, new { @class = "btn btn-default" })
                            }
                            else if (Model.PagingInfo.CurrentPage - i < Model.PagingInfo.PageSpan && i - Model.PagingInfo.CurrentPage < Model.PagingInfo.PageSpan)
                            {
                                @Html.ActionLink(i.ToString(), "GetAlerts", "Alert", new { area = "", page = i }, new { @class = "btn btn-default" })
                            }
                        }
                    }
                </div>
            </div>
        </div>
    }
    else
    {
        <p class="text-danger warning">There are no alerts found</p>
    }
}
<script>
    $('#filter').keyup(function () {
        filter($(this).val())
    })

    $('#filter').mousemove(function () {
        filter($(this).val())
    })

    function filter(key) {
        var alerts = $('.driver-alert');
        if (alerts.length) {
            alerts.map(function (index, el) {
                if (el.children[0].textContent.toLowerCase().indexOf(key.toLowerCase()) < 0) {
                    el.setAttribute("style", "display:none");
                } else {
                    el.setAttribute("style", "")
                }
            })
        }
    }

    $('#sort').click(function () {
        $('#container').append($('.driver-alert').toArray().reverse());
    })
</script>