@using ManagerTaskService.Models
@Styles.Render("~/Content/tableFilter")
@Scripts.Render("~/bundles/tableFilter")

@model List<DriverCheckAlert>
@{
    ViewBag.Title = "Alerts";
}

@if (ViewBag.Error != null)
{
    <p class="text-danger warning">@ViewBag.Error</p>
}
else
{
    if (Model.Count > 0)
    {
        <div class="row">
            <table id="alerts" class="table table-responsive table-hover">
                <thead>
                    <tr>
                        <th>Driver</th>
                        <th>Alert Type</th>
                        <th>Alert Level</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var alert in Model)
                    {
                        <tr>
                            <td>@alert.DriverName</td>
                            <td>@((AlertType)alert.Type)</td>
                            <td>@((AlertLevel)alert.Level)</td>
                            <td>@alert.Date</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <p class="text-danger warning">There are no alerts found</p>
    }
}
<script>
    var filtersConfig = {
        base_path: '/Scripts/tablefilter/',
        col_1: 'select',
        col_2: 'select',
        alternate_rows: true,
        rows_counter: true,
        btn_reset: true,
        loader: true,
        mark_active_columns: true,
        highlight_keywords: true,
        no_results_message: true,
        custom_options: {
            cols: [4],
            sorts: [true]
        },
        col_types: [
            'string', 'string', 'string', 'date'
        ],
        paging: {
            results_per_page: ['Records: ', [5, 10]]
        },
        extensions: [{
            name: 'sort'
        }],
        auto_filter: {
            delay: 0
        },
    };

    var tf = new TableFilter('alerts', filtersConfig);
    tf.init();

    $('.helpBtn').remove();
</script>